<%- include('partials/header'); -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <h3>Title</h3>
    <textarea class="form-control" name="titleContent" id="exampleFormControlTextarea1" rows="1"></textarea>
    <h3>Post</h3>
    <textarea class="form-control" name="postContent" id="exampleFormControlTextarea1" rows="6"></textarea>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>




<%- include('partials/footer'); -%>