<%- include('partials/header'); -%>

<h1>Compose Post</h1>

<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
<button type="submit">Publish</button>

<%- include('partials/footer'); -%>